<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.serpat.wwtbam"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true">
        <activity
            android:name="es.serpat.wwtbam.MainActivity"
            android:label="@string/main">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Play"
            android:label="@string/play"
            android:parentActivityName="es.serpat.wwtbam.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.serpat.wwtbam.MainActivity" />
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/settings"
            android:parentActivityName="es.serpat.wwtbam.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.serpat.wwtbam.MainActivity" />
        </activity>
        <activity
            android:name=".Scores"
            android:label="@string/scores"
            android:parentActivityName="es.serpat.wwtbam.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.serpat.wwtbam.MainActivity" />
        </activity>
        <activity
            android:name=".Credits"
            android:label="@string/about"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".Friends"
            android:label="@string/friends"
            android:parentActivityName="es.serpat.wwtbam.Preferences">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.serpat.wwtbam.Preferences" />
            <intent-filter>
                <action android:name="es.serpat.wwtbam.Friends" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
